@import "tailwindcss";
@import "./mdx-editor";
@import "./sandpack";
@import "./embedded-components.css";
@import "./mdx-mathjax.css";

@plugin "@tailwindcss/typography";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --perspective-1000: 1000px;

  --tw-gradient-from: #f9fafb;
  --tw-gradient-to: #f3f4f6;

  --animate-float: float 8s ease-in-out infinite;
  --animate-float-slow: float 12s ease-in-out infinite;

  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

@theme inline {
  --perspective-1000 {
    perspective: var(--perspective-1000);
  }

  --bg-radial-gradient: radial-gradient(
    circle at center,
    var(--tw-gradient-from) 0%,
    var(--tw-gradient-to) 100%
  );
}

html,
body {
  @apply bg-white text-gray-950 dark:bg-gray-950 dark:text-white;
  scroll-behavior: smooth;
}
