code {
  font-family: "Fira Code", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: small !important;
}

.markdown > pre {
  margin: 1rem 0;
}

.markdown {
  font-family: "Mulish", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.markdown > p {
  margin-top: 12px;
  font-size: large;
  line-height: 1.7em;
}
