@tailwind base;
@tailwind components;
@tailwind utilities;

.hljs {
  border-radius: 8px;
  padding: 1.5em;
  margin-top: 0;
  font-size: small;
}

.hljs-inline {
  background: #f0f0f0;
  padding: 1px 2px;
  border-radius: 5px;
}

.remark-code-title {
  background: #fff;
  padding: 0.5em 1em;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: small;
  font-weight: bold;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}
