@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Roboto", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #2d3748;
}

code {
  font-family: "Monaco", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: small !important;
}

.markdown {
  font-family: "Mulish", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
