.tiptap {
  font-family: "Mulish", "Roboto", monospace !important;
  padding: 8px;
  min-height: 12rem;
  background: #fff;
  border: 1px solid dimgray;
  color: black;
}
.tiptap:focus {
  outline: none;
}
.tiptap > * + * {
  margin-top: 0.75em;
}
.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
}
.tiptap ul {
  list-style-type: square;
}

.tiptap ol {
  list-style-type: decimal;
}
.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1;
}
.tiptap h1 {
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
}

.tiptap h2 {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
}

.tiptap h3 {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
}
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
}
.tiptap img {
  width: 100%;
  height: auto;
}

.tiptap code {
  font-family: "Fira Code", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  font-size: small !important;
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}
.tiptap pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.tiptap pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.tiptap img {
  max-width: 100%;
  height: auto;
}
.tiptap blockquote {
  border-left: 5px solid blue;
  background: skyblue;
  border-radius: 5px;
  padding: 4px;
}
.tiptap hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}

.tiptap pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.tiptap pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.tiptap pre .hljs-comment,
.tiptap pre .hljs-quote {
  color: #616161;
}
.tiptap pre .hljs-variable,
.tiptap pre .hljs-template-variable,
.tiptap pre .hljs-attribute,
.tiptap pre .hljs-tag,
.tiptap pre .hljs-name,
.tiptap pre .hljs-regexp,
.tiptap pre .hljs-link,
.tiptap pre .hljs-selector-id,
.tiptap pre .hljs-selector-class {
  color: #f98181;
}
.tiptap pre .hljs-number,
.tiptap pre .hljs-meta,
.tiptap pre .hljs-built_in,
.tiptap pre .hljs-builtin-name,
.tiptap pre .hljs-literal,
.tiptap pre .hljs-type,
.tiptap pre .hljs-params {
  color: #fbbc88;
}
.tiptap pre .hljs-string,
.tiptap pre .hljs-symbol,
.tiptap pre .hljs-bullet {
  color: #b9f18d;
}
.tiptap pre .hljs-title,
.tiptap pre .hljs-section {
  color: #faf594;
}
.tiptap pre .hljs-keyword,
.tiptap pre .hljs-selector-tag {
  color: #70cff8;
}
.tiptap pre .hljs-emphasis {
  font-style: italic;
}
.tiptap pre .hljs-strong {
  font-weight: 700;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.code-block {
  position: relative;
}
.code-block select {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
